@{
    ViewData["Title"] = "Home";
}
<link rel="stylesheet" href="~/style.css">

<h1 class="intro">This Website Was Visited:</h1>
<h1 class="num">@ViewBag.numVisitors</h1>
<h1 class="outro">Times!</h1>
